In [1]:
import wbdata
import sys
import os
import fastparquet as fp

import sys
sys.path.append(os.path.abspath('../../lib'))

In [2]:
%matplotlib inline

In [3]:
# growth = wbdata.get_indicator("NY.GDP.MKTP.CD")
# data = wbdata.get_dataframe({"NY.GDP.MKTP.CD" : "Growth"}, country=["USA", "JPN"])
# (data.sort_index().unstack(0) / 1e13).plot()

In [4]:
import domain
# from importlib import reload
# reload(domain)

In [5]:
# domain.countries

In [6]:
domain.countries.loc[["USA","JPN", "THA"]]

    code code2           name  numeric
USA  USA    US  United States      840
JPN  JPN    JP          Japan      392
THA  THA    TH       Thailand      764

In [7]:
domain.countries.to_csv("../../data/countries.csv", index=False)

In [8]:
fp.write("../../data/countries.parquet", domain.countries)