In [1]:
import sys
import os
sys.path.append(os.path.abspath('../../lib')) 

import sources

In [2]:
df = sources.ingest_world_bank("NY.GDP.MKTP.CD")

In [11]:
df.reset_index()

      country  year             0
0         ABW  1960           NaN
1         ABW  1961           NaN
2         ABW  1962           NaN
3         ABW  1963           NaN
4         ABW  1964           NaN
5         ABW  1965           NaN
6         ABW  1966           NaN
7         ABW  1967           NaN
8         ABW  1968           NaN
9         ABW  1969           NaN
10        ABW  1970           NaN
11        ABW  1971           NaN
12        ABW  1972           NaN
13        ABW  1973           NaN
14        ABW  1974           NaN
15        ABW  1975           NaN
16        ABW  1976           NaN
17        ABW  1977           NaN
18        ABW  1978           NaN
19        ABW  1979           NaN
20        ABW  1980           NaN
21        ABW  1981           NaN
22        ABW  1982           NaN
23        ABW  1983           NaN
24        ABW  1984           NaN
25        ABW  1985           NaN
26        ABW  1986           NaN
27        ABW  1987           NaN
28        ABW  1988           NaN
29        ABW  1989           NaN
...       ...   ...           ...
15018     ZWE  1987  6.741215e+09
15019     ZWE  1988  7.814784e+09
15020     ZWE  1989  8.286323e+09
15021     ZWE  1990  8.783817e+09
15022     ZWE  1991  8.641482e+09
15023     ZWE  1992  6.751472e+09
15024     ZWE  1993  6.563813e+09
15025     ZWE  1994  6.890675e+09
15026     ZWE  1995  7.111271e+09
15027     ZWE  1996  8.553147e+09
15028     ZWE  1997  8.529572e+09
15029     ZWE  1998  6.401968e+09
15030     ZWE  1999  6.858013e+09
15031     ZWE  2000  6.689958e+09
15032     ZWE  2001  6.777385e+09
15033     ZWE  2002  6.342116e+09
15034     ZWE  2003  5.727592e+09
15035     ZWE  2004  5.805598e+09
15036     ZWE  2005  5.755215e+09
15037     ZWE  2006  5.443896e+09
15038     ZWE  2007  5.291950e+09
15039     ZWE  2008  4.415703e+09
15040     ZWE  2009  8.366794e+09
15041     ZWE  2010  1.005205e+10
15042     ZWE  2011  1.207173e+10
15043     ZWE  2012  1.405838e+10
15044     ZWE  2013  1.522353e+10
15045     ZWE  2014  1.583407e+10
15046     ZWE  2015  1.607238e+10
15047     ZWE  2016  1.628921e+10

[15048 rows x 3 columns]

In [5]:
"as.asd.as".replace(".","_")

'as_asd_as'